body{
    background: url(img/fondo.jpg);
}

.saturno{
    width: 1200px;
    position: absolute;
    top: 2%;
    z-index: 1;
}

.tierra{
    position: absolute;
    top: 1%;
    width: 300px;
    z-index: -1;
}

h1{
    background-color: gray;
    z-index: 0;
    text-align: center;
    color: white;
    border-radius: 10px 10px 10px 10px;
}

.mercurio{
    position: absolute;
    z-index: 2;
    width: 100px;
    left: 50%;
}