body{
    background-color: #e9f2fb;
}

@font-face{
    font-family: titulo;
    src: url(SigmarOne-Regular.ttf);
}

h1{
    text-align: center;
    font-family: titulo;
    font-size: 300%;
}

i{
    font-weight: bold;
    text-decoration: underline;
    font-size: 115%;
}

p{
    font-size: 105%;
    margin-left: 3%;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #7a99b8;
    font-family: titulo;
    text-shadow: 2px 3px black;
    font-size: 300%;
    margin-left: 3%;
}

hr{
    background-color: #7a99b8 ;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 2%;
    padding: 5px;
    border: black solid;
    border-width: 1px;
    border-radius: 5px;
}

time{
    color: blue;
}

strong{
    background-color: white;
    color: red;
}

.izquierda{
    float: left;
    border:solid 5px;
    color: #7a99b8;
    padding: 5px;
    margin-left: 3%;
}

.derecha{
    float: right;
    border:solid 5px;
    color: #7a99b8;
    padding: 5px;
    margin-right: 3%;
}

.izq{
    margin-left: 18%;
    margin-bottom: 10%;
}

.pdogo{
    margin-bottom: 4%;
}

.centrado{
    margin-left: 6%;
    margin-right: 12%;
}

.pfinal{
    float: left;
    width: 30%;
}

.ult{
    margin-bottom: 10%;
}